<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <a 
               href="  @Url.Action("Index", "Home", new { area = ""})" > 
                <img src="~/Images/logo-hollow-white.png" alt="PK Logo" width=" 100"/> 
            </a>
            
            @Html.ActionLink("Pumpkin Patch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li>@Html.ActionLink("My Crops", "Index", new { area = "Crops", controller = "CropsHome" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My Supplies", "Index", new { area = "Supplies", controller = "SupplyHome" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My Equipment", "Index", new { area = "Equipment", controller = "EquipmentHome" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My Customers", "Index", new { area = "Customers", controller = "CustomerHome" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - PKPals Version 3.20.3
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
