@model IEnumerable<PK_EF.CROP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Crops/Views/Shared/_CropHome.cshtml";

}


<!DOCTYPE html>
<html>
<head>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

    </head>




<body>
    <h2>Crops Home</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped" id="cropTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysTillHarvest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Season)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SelfLife)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaterAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CropRotationRecom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HarvestTechniques)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysTillHarvest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Season)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SelfLife)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WaterAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CropRotationRecom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HarvestTechniques)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CropID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CropID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CropID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <script>
        $(document).ready(function () {
            $('#cropTable').DataTable();
        });
    </script>
</body>
</html>