@model IEnumerable<PK_EF.CROP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CROPs/Views/Shared/_CropHome.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="cropTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysTillHarvest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelfLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropRotationRecom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarvestTechniques)
        </th>
        <th></th>
    </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysTillHarvest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfLife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CropRotationRecom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestTechniques)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CropID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CropID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CropID })
            </td>
        </tr>

    }

    </table>
