@model PK_EF.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/CUSTOMERs/Views/Shared/_CustomerHome.cshtml";

}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Farm
        </dt>

        @foreach (var m in Model.CUSTOMERROSTERs)
        {
            <dd>
                @Html.DisplayFor(model => m.FARM.Name)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
