@model PK_EF.SCHEDULE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Schedules/Views/Shared/_Menu.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SCHEDULE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EQUIPMENT.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EQUIPMENT.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
